# Define variables
CLUSTER_NAME="iam-eks-cluster"
EKS_VERSION="1.30"
REGION="us-east-1"
AWS_PROFILE="default"  # Change if you use a different profile

CLUSTER_CONFIG_FILE="./configuration_files/cluster-config.yaml"
NODEGROUP_CONFIG_FILE="./configuration_files/nodegroup.yaml"
NODECLASS_CONFIG_FILE="./configuration_files/nodeclass.yaml"
NODEPOOL_CONFIG_FILE="./configuration_files/nodepool.yaml"
CALICO_CONFIG_FILE="./configuration_files/calico.yaml"

# Karpenter Variables
QUEUE_NAME="ClusterKarpenterInterruptionQueue"
KARPENTER_VERSION="0.37.0"
KARPENTER_NAMESPACE="karpenter"

# Calico Variables
CALICO_NAMESPACE="karpenter"