# Define variables
CLUSTER_NAME="calico-eks-cluster"
REGION="us-east-1"

# Change if you use a different profile
AWS_PROFILE="default"

CLUSTER_CONFIG_FILE="./configuration_files/cluster-config.yaml"
NODEGROUP_CONFIG_FILE="./configuration_files/nodegroup.yaml"
NODECLASS_CONFIG_FILE="./configuration_files/nodeclass.yaml"
NODEPOOL_CONFIG_FILE="./configuration_files/nodepool.yaml"
CALICO_CONFIG_FILE="./configuration_files/calico.yaml"

# Switch to AmazonVPC if ypu want to use the amazon CNI
CLUSTER_CNI="Calico"

# Karpenter Variables
QUEUE_NAME="ClusterKarpenterInterruptionQueue"
KARPENTER_VERSION="0.37.0"
KARPENTER_NAMESPACE="karpenter"

# Calico Variables
CALICO_NAMESPACE="karpenter"