.env
__pycache__/
.pytest_cache/
.vscode/

# Playground is the place to devs that may not be uploaded
playground/

analysis

vtex-collector

data/*.csv

src/custom-k8s-scheduler/custom-scheduler

src/output*

venv/

orchestrator.py