[submodule "kwok-karpenter-install/karpenter-code"]
	path = kwok-karpenter-install/karpenter-code
	url = https://github.com/vtex-lab/karpenter-code.git
[submodule "kwok-karpenter-install/kube-prometheus"]
	path = kwok-karpenter-install/kube-prometheus
	url = https://github.com/prometheus-operator/kube-prometheus.git
[submodule "kwok-karpenter-install/autoscaler"]
	path = kwok-karpenter-install/autoscaler
	url = https://github.com/kubernetes/autoscaler.git
